<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yundian.fss.dao.FssAdminUserModelMapper" >
  <resultMap id="BaseResultMap" type="com.yundian.fssapi.domain.FssAdminUserModel" >
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="role_id" property="roleId" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_pwd" property="userPwd" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="station" property="station" jdbcType="VARCHAR" />
    <result column="region" property="region" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="ctime" property="ctime" jdbcType="DATE" />
    <result column="mtime" property="mtime" jdbcType="DATE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >user_id, role_id,
      user_name, user_pwd, name,
      sex, tel, station,
      region, status, ctime,
      mtime, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from fss_admin_user
    where user_id = #{userId,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from fss_admin_user
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.yundian.fssapi.domain.FssAdminUserModel" >
    insert into fss_admin_user (user_id, role_id,
      user_name, user_pwd, name, 
      sex, tel, station, 
      region, status, ctime, 
      mtime, remark)
    values (#{userId,jdbcType=BIGINT}, #{roleId,jdbcType=VARCHAR},
      #{userName,jdbcType=VARCHAR}, #{userPwd,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{station,jdbcType=VARCHAR}, 
      #{region,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{ctime,jdbcType=TIMESTAMP}, 
      #{mtime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yundian.fssapi.domain.FssAdminUserModel" >
    insert into fss_admin_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>

      <if test="roleId != null" >
        role_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userPwd != null" >
        user_pwd,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="station != null" >
        station,
      </if>
      <if test="region != null" >
        region,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="ctime != null" >
        ctime,
      </if>
      <if test="mtime != null" >
        mtime,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null" >
        #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="station != null" >
        #{station,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="mtime != null" >
        #{mtime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.yundian.fssapi.domain.FssAdminUserModel" >
    update fss_admin_user
    <set >
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="mtime != null" >
        mtime = #{mtime,jdbcType=VARCHAR},
      </if>

      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>

  <select id="getFssAdminUserByUserAndPwd" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from fss_admin_user
    where user_name =#{userName}
    and user_pwd=#{userPwd}
  </select>


  <update id="resetPwd" parameterType="map" >
    update fss_admin_user
    set user_pwd=#{userPwd,jdbcType=VARCHAR},
    mtime=now()
    where user_id = #{userId,jdbcType=INTEGER}
  </update>

  <sql id="getFssAdminUserPagingWhere">

    <if test="tel != null and tel != ''">
      and tel like concat('%',#{tel},'%')
    </if>

    <if test="name != null and name != ''">
      and name like concat('%',#{name},'%')
    </if>

  </sql>

  <select id="getFssAdminUserPaging" parameterType="map"
          resultMap="BaseResultMap">
    select * from fss_admin_user
    where 1=1
    <include refid="getFssAdminUserPagingWhere"/>
    order by user_id desc
    limit #{_offset}, #{_limit}

  </select>
  <select id="getFssAdminUserPagingCount" resultType="java.lang.Integer" parameterType="map">
    select
    count(*)
    from fss_admin_user
    where 1=1
    <include refid="getFssAdminUserPagingWhere"/>
  </select>
</mapper>