<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yundian.fss.dao.FssBankModelMapper">
  <resultMap id="BaseResultMap" type="com.yundian.fssapi.domain.FssBankModel">
    <id column="bank_id" jdbcType="INTEGER" property="bankId" />
    <result column="bank_code" jdbcType="VARCHAR" property="bankCode" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="branch_name" jdbcType="VARCHAR" property="branchName" />
   	<result column="province" jdbcType="INTEGER" property="province" />
	<result column="city" jdbcType="INTEGER" property="city" />
	<result column="area" jdbcType="INTEGER" property="area" />
	<result column="province_name" jdbcType="VARCHAR" property="provinceName" />
	<result column="city_name" jdbcType="VARCHAR" property="cityName" />
	<result column="area_name" jdbcType="VARCHAR" property="areaName" />
    <result column="street" jdbcType="VARCHAR" property="street" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="mtime" jdbcType="TIMESTAMP" property="mtime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  
  <sql id="Base_Column_List">
    bank_id, 
    bank_code, 
    bank_name, 
    branch_name, 
   	province, 
	city, 
	area,
	province_name, 
	city_name, 
	area_name,  
    street, 
    ctime, 
    mtime, 
    remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fss_bank
    where bank_id = #{bankId,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="long">
    delete from fss_bank
    where bank_id = #{bankId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.yundian.fssapi.domain.FssBankModel">
    <selectKey keyProperty="bankId" order="AFTER" resultType="long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into fss_bank 
    (
    	bank_code, 
    	bank_name, 
    	branch_name, 
      	province, 
		city, 
		area,
		province_name, 
		city_name, 
		area_name,  
      	street, 
      	ctime, 
      	remark
    )
    values 
    (
    	#{bankCode,jdbcType=VARCHAR}, 
    	#{bankName,jdbcType=VARCHAR}, 
    	#{branchName,jdbcType=VARCHAR}, 
      	#{province,jdbcType=INTEGER},
		#{city,jdbcType=INTEGER},
		#{area,jdbcType=INTEGER},
		#{provinceName,jdbcType=VARCHAR}, 
		#{cityName,jdbcType=VARCHAR}, 
		#{areaName,jdbcType=VARCHAR}, 
      	#{street,jdbcType=VARCHAR}, 
      	now(), 
      	#{remark,jdbcType=VARCHAR}
     )
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="com.yundian.fssapi.domain.FssBankModel">
    	update fss_bank set 
	     bank_code = #{bankCode,jdbcType=VARCHAR},
	     bank_name = #{bankName,jdbcType=VARCHAR},
	     branch_name = #{branchName,jdbcType=VARCHAR},
	     province = #{province,jdbcType=INTEGER},
		 city = #{city,jdbcType=INTEGER},
		 area = #{area,jdbcType=INTEGER},
		 province_name = #{provinceName,jdbcType=VARCHAR},
		 city_name = #{cityName,jdbcType=VARCHAR},
		 area_name = #{areaName,jdbcType=VARCHAR},
	     street = #{street,jdbcType=VARCHAR},
	     mtime = now(),
	     remark = #{remark,jdbcType=VARCHAR}
    	where bank_id = #{bankId,jdbcType=INTEGER}
  </update>
  
  
	<sql id="getFssBankPagingWhere">
		
		<if test="bankCode != null and bankCode != ''">
			and bank_code like concat('%',#{bankCode},'%')
		</if>
		
		<if test="bankName != null and bankName != ''">
			and bank_name like concat('%',#{bankName},'%')
		</if>
		
		<if test="branchName != null and branchName != ''">
			and branch_name like concat('%',#{branchName},'%')
		</if>
		
		<if test="province != null">
			and province  = #{province}
		</if>
		<if test="city != null">
			and city  = #{city}
		</if>
		<if test="area != null">
			and area  = #{area}
		</if>
		
	</sql>
	
	<select id="getFssBankPaging" parameterType="map"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from fss_bank
		where 1=1
		<include refid="getFssBankPagingWhere"/>
		limit #{_offset}, #{_limit}
	</select>
	
	<select id="getFssBankPagingCount" parameterType="map"
		resultType="java.lang.Integer">
		select
		count(*)
		from fss_bank
		where 1=1
		<include refid="getFssBankPagingWhere"/>
	</select>
	<select id="getFssBankList" parameterType="com.yundian.fssapi.domain.FssBankModel" resultMap="BaseResultMap">
		 select 
		    <include refid="Base_Column_List" />
		from fss_bank
		 where 1=1   
		 
		 <if test="bankCode != null and bankCode != ''">
			and bank_code like concat('%',#{bankCode},'%')
		</if>
		
		<if test="bankName != null and bankName != ''">
			and bank_name like concat('%',#{bankName},'%')
		</if>
		
		<if test="branchName != null and branchName != ''">
			and branch_name like concat('%',#{branchName},'%')
		</if>
		
		<if test="province != null">
			and province  = #{province}
		</if>
		<if test="city != null">
			and city  = #{city}
		</if>
		<if test="area != null">
			and area  = #{area}
		</if>
	</select>
</mapper>