<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yundian.fss.dao.FssCreditLogModelMapper">
  <resultMap id="BaseResultMap" type="com.yundian.fssapi.domain.FssCreditLogModel">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="credit_id" jdbcType="BIGINT" property="creditId" />
    <result column="node" jdbcType="VARCHAR" property="node" />
    <result column="node_name" jdbcType="VARCHAR" property="nodeName" />
    <result column="bank_id" jdbcType="INTEGER" property="bankId" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="bank_user_id" jdbcType="INTEGER" property="bankUserId" />
    <result column="bank_user_name" jdbcType="VARCHAR" property="bankUserName" />
    <result column="audit_status" jdbcType="VARCHAR" property="auditStatus" />
    <result column="audit_content" jdbcType="VARCHAR" property="auditContent" />
    <result column="audit_time" jdbcType="TIMESTAMP" property="auditTime" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="mtime" jdbcType="TIMESTAMP" property="mtime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, credit_id, node, node_name, bank_id, bank_name, bank_user_id, bank_user_name, 
    audit_status, audit_content, audit_time, ctime, mtime, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fss_credit_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from fss_credit_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yundian.fssapi.domain.FssCreditLogModel">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into fss_credit_log (credit_id, node, node_name, 
      bank_id, bank_name, bank_user_id, 
      bank_user_name, audit_status, audit_content, 
      audit_time, ctime, 
      remark)
    values (#{creditId,jdbcType=BIGINT}, #{node,jdbcType=VARCHAR}, #{nodeName,jdbcType=VARCHAR}, 
      #{bankId,jdbcType=INTEGER}, #{bankName,jdbcType=VARCHAR}, #{bankUserId,jdbcType=INTEGER}, 
      #{bankUserName,jdbcType=VARCHAR}, #{auditStatus,jdbcType=VARCHAR}, #{auditContent,jdbcType=VARCHAR}, 
      #{auditTime,jdbcType=TIMESTAMP}, now(), 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yundian.fssapi.domain.FssCreditLogModel">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into fss_credit_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="creditId != null">
        credit_id,
      </if>
      <if test="node != null and node != ''">
        node,
      </if>
      <if test="nodeName != null and nodeName != ''">
        node_name,
      </if>
      <if test="bankId != null">
        bank_id,
      </if>
      <if test="bankName != null and bankName != ''">
        bank_name,
      </if>
      <if test="bankUserId != null">
        bank_user_id,
      </if>
      <if test="bankUserName != null and bankUserName != ''">
        bank_user_name,
      </if>
      <if test="auditStatus != null and auditStatus != ''">
        audit_status,
      </if>
      <if test="auditContent != null and auditContent != ''">
        audit_content,
      </if>
      <if test="auditTime != null">
        audit_time,
      </if>
      <if test="ctime != null">
        ctime,
      </if>
      <if test="mtime != null">
        mtime,
      </if>
      <if test="remark != null and remark != ''">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="creditId != null">
        #{creditId,jdbcType=BIGINT},
      </if>
      <if test="node != null and node != ''">
        #{node,jdbcType=VARCHAR},
      </if>
      <if test="nodeName != null and nodeName != ''">
        #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null">
        #{bankId,jdbcType=INTEGER},
      </if>
      <if test="bankName != null and bankName != ''">
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankUserId != null">
        #{bankUserId,jdbcType=INTEGER},
      </if>
      <if test="bankUserName != null and bankUserName != ''">
        #{bankUserName,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null and auditStatus != ''">
        #{auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="auditContent != null and auditContent != ''">
        #{auditContent,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null">
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ctime != null">
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="mtime != null">
        #{mtime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null and remark != ''">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yundian.fssapi.domain.FssCreditLogModel">
    update fss_credit_log
    <set>
      <if test="creditId != null">
        credit_id = #{creditId,jdbcType=BIGINT},
      </if>
      <if test="node != null and node != ''">
        node = #{node,jdbcType=VARCHAR},
      </if>
      <if test="nodeName != null and nodeName != ''">
        node_name = #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null">
        bank_id = #{bankId,jdbcType=INTEGER},
      </if>
      <if test="bankName != null and bankName != ''">
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankUserId != null">
        bank_user_id = #{bankUserId,jdbcType=INTEGER},
      </if>
      <if test="bankUserName != null and bankUserName != ''">
        bank_user_name = #{bankUserName,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null and auditStatus != ''">
        audit_status = #{auditStatus,jdbcType=VARCHAR},
      </if>
      <if test="auditContent != null and auditContent != ''">
        audit_content = #{auditContent,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null">
        audit_time = #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ctime != null">
        ctime = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="mtime != null">
        mtime = #{mtime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null and remark != ''">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yundian.fssapi.domain.FssCreditLogModel">
    update fss_credit_log
    set credit_id = #{creditId,jdbcType=BIGINT},
      node = #{node,jdbcType=VARCHAR},
      node_name = #{nodeName,jdbcType=VARCHAR},
      bank_id = #{bankId,jdbcType=INTEGER},
      bank_name = #{bankName,jdbcType=VARCHAR},
      bank_user_id = #{bankUserId,jdbcType=INTEGER},
      bank_user_name = #{bankUserName,jdbcType=VARCHAR},
      audit_status = #{auditStatus,jdbcType=VARCHAR},
      audit_content = #{auditContent,jdbcType=VARCHAR},
      audit_time = #{auditTime,jdbcType=TIMESTAMP},
      ctime = #{ctime,jdbcType=TIMESTAMP},
      mtime = #{mtime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  
   <select id="getFssCreditLogListByCreditId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fss_credit_log
    where credit_id = #{creditId}
  </select>
</mapper>