<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yundian.fss.dao.FssCreditModelMapper">
  <resultMap id="BaseResultMap" type="com.yundian.fssapi.domain.FssCreditModel">
    <id column="credit_id" jdbcType="BIGINT" property="creditId" />
    <result column="guarantee_id" jdbcType="INTEGER" property="guaranteeId" />
    <result column="guarantee_name" jdbcType="VARCHAR" property="guaranteeName" />
    <result column="guarantee_user_id" jdbcType="BIGINT" property="guaranteeUserId" />
    <result column="guarantee_user_name" jdbcType="VARCHAR" property="guaranteeUserName" />
    <result column="guarantee_user_phone" jdbcType="VARCHAR" property="guaranteeUserPhone" />
    <result column="bank_id" jdbcType="INTEGER" property="bankId" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="bank_code" jdbcType="VARCHAR" property="bankCode" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="idcard" jdbcType="VARCHAR" property="idcard" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="birthday" jdbcType="VARCHAR" property="birthday" />
    <result column="card_frontimg" jdbcType="VARCHAR" property="cardFrontimg" />
    <result column="card_oppositeimg" jdbcType="VARCHAR" property="cardOppositeimg" />
    <result column="requisition_sign_img" jdbcType="VARCHAR" property="requisitionSignImg" />
    <result column="original_img" jdbcType="VARCHAR" property="originalImg" />
    <result column="credit_status" jdbcType="VARCHAR" property="creditStatus" />
    <result column="credit_report_time" jdbcType="TIMESTAMP" property="creditReportTime" />
    <result column="loan_num" jdbcType="INTEGER" property="loanNum" />
    <result column="loan_total_amount" jdbcType="DECIMAL" property="loanTotalAmount" />
    <result column="overdue_periods" jdbcType="INTEGER" property="overduePeriods" />
    <result column="overdue_amount" jdbcType="DECIMAL" property="overdueAmount" />
    <result column="debit_account_num" jdbcType="INTEGER" property="debitAccountNum" />
    <result column="debit_total_position" jdbcType="DECIMAL" property="debitTotalPosition" />
    <result column="debit_overdue_periods" jdbcType="INTEGER" property="debitOverduePeriods" />
    <result column="debit_overdue_amount" jdbcType="DECIMAL" property="debitOverdueAmount" />
    <result column="semi_account_num" jdbcType="INTEGER" property="semiAccountNum" />
    <result column="semi_total_position" jdbcType="DECIMAL" property="semiTotalPosition" />
    <result column="semi_overdrawn_amount_180" jdbcType="DECIMAL" property="semiOverdrawnAmount180" />
    <result column="semi_overdrawn_balance" jdbcType="DECIMAL" property="semiOverdrawnBalance" />
    <result column="housing_fund" jdbcType="VARCHAR" property="housingFund" />
    <result column="credit_report_remark" jdbcType="VARCHAR" property="creditReportRemark" />
    <result column="credit_apply_time" jdbcType="TIMESTAMP" property="creditApplyTime" />
    <result column="credit_audit_time" jdbcType="TIMESTAMP" property="creditAuditTime" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="mtime" jdbcType="TIMESTAMP" property="mtime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    credit_id, guarantee_id, guarantee_name, guarantee_user_id, guarantee_user_name, 
    guarantee_user_phone, bank_id, bank_name, bank_code, name, sex, idcard, phone, birthday, 
    card_frontimg, card_oppositeimg, requisition_sign_img, original_img, credit_status, 
    credit_report_time, loan_num, loan_total_amount, overdue_periods, overdue_amount, 
    debit_account_num, debit_total_position, debit_overdue_periods, debit_overdue_amount, 
    semi_account_num, semi_total_position, semi_overdrawn_amount_180, semi_overdrawn_balance, 
    housing_fund, credit_report_remark, credit_apply_time, credit_audit_time, ctime, 
    mtime, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fss_credit
    where credit_id = #{creditId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from fss_credit
    where credit_id = #{creditId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yundian.fssapi.domain.FssCreditModel">
    <selectKey keyProperty="creditId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into fss_credit (guarantee_id, guarantee_name, guarantee_user_id, 
      guarantee_user_name, guarantee_user_phone, 
      bank_id, bank_name, bank_code, 
      name, sex, idcard, 
      phone, birthday, card_frontimg, 
      card_oppositeimg, requisition_sign_img, original_img, 
      credit_status, credit_report_time, loan_num, 
      loan_total_amount, overdue_periods, overdue_amount, 
      debit_account_num, debit_total_position, debit_overdue_periods, 
      debit_overdue_amount, semi_account_num, semi_total_position, 
      semi_overdrawn_amount_180, semi_overdrawn_balance, 
      housing_fund, credit_report_remark, credit_apply_time, 
      credit_audit_time, ctime,
      remark)
    values (#{guaranteeId,jdbcType=INTEGER}, #{guaranteeName,jdbcType=VARCHAR}, #{guaranteeUserId,jdbcType=BIGINT}, 
      #{guaranteeUserName,jdbcType=VARCHAR}, #{guaranteeUserPhone,jdbcType=VARCHAR}, 
      #{bankId,jdbcType=INTEGER}, #{bankName,jdbcType=VARCHAR}, #{bankCode,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{idcard,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{birthday,jdbcType=VARCHAR}, #{cardFrontimg,jdbcType=VARCHAR}, 
      #{cardOppositeimg,jdbcType=VARCHAR}, #{requisitionSignImg,jdbcType=VARCHAR}, #{originalImg,jdbcType=VARCHAR}, 
      #{creditStatus,jdbcType=VARCHAR}, #{creditReportTime,jdbcType=TIMESTAMP}, #{loanNum,jdbcType=INTEGER}, 
      #{loanTotalAmount,jdbcType=DECIMAL}, #{overduePeriods,jdbcType=INTEGER}, #{overdueAmount,jdbcType=DECIMAL}, 
      #{debitAccountNum,jdbcType=INTEGER}, #{debitTotalPosition,jdbcType=DECIMAL}, #{debitOverduePeriods,jdbcType=INTEGER}, 
      #{debitOverdueAmount,jdbcType=DECIMAL}, #{semiAccountNum,jdbcType=INTEGER}, #{semiTotalPosition,jdbcType=DECIMAL}, 
      #{semiOverdrawnAmount180,jdbcType=DECIMAL}, #{semiOverdrawnBalance,jdbcType=DECIMAL}, 
      #{housingFund,jdbcType=VARCHAR}, #{creditReportRemark,jdbcType=VARCHAR}, #{creditApplyTime,jdbcType=TIMESTAMP}, 
      #{creditAuditTime,jdbcType=TIMESTAMP}, now(), 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yundian.fssapi.domain.FssCreditModel">
    <selectKey keyProperty="creditId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into fss_credit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="guaranteeId != null">
        guarantee_id,
      </if>
      <if test="guaranteeName != null and guaranteeName != ''">
        guarantee_name,
      </if>
      <if test="guaranteeUserId != null">
        guarantee_user_id,
      </if>
      <if test="guaranteeUserName != null and guaranteeUserName != ''">
        guarantee_user_name,
      </if>
      <if test="guaranteeUserPhone != null and guaranteeUserPhone != ''">
        guarantee_user_phone,
      </if>
      <if test="bankId != null">
        bank_id,
      </if>
      <if test="bankName != null and bankName != ''">
        bank_name,
      </if>
      <if test="bankCode != null and bankCode != ''">
        bank_code,
      </if>
      <if test="name != null and name != ''">
        name,
      </if>
      <if test="sex != null and sex != ''">
        sex,
      </if>
      <if test="idcard != null and idcard != ''">
        idcard,
      </if>
      <if test="phone != null and phone != ''">
        phone,
      </if>
      <if test="birthday != null and birthday != ''">
        birthday,
      </if>
      <if test="cardFrontimg != null and cardFrontimg != ''">
        card_frontimg,
      </if>
      <if test="cardOppositeimg != null and cardOppositeimg != ''">
        card_oppositeimg,
      </if>
      <if test="requisitionSignImg != null and requisitionSignImg != ''">
        requisition_sign_img,
      </if>
      <if test="originalImg != null and originalImg != ''">
        original_img,
      </if>
      <if test="creditStatus != null and creditStatus != ''">
        credit_status,
      </if>
      <if test="creditReportTime != null">
        credit_report_time,
      </if>
      <if test="loanNum != null">
        loan_num,
      </if>
      <if test="loanTotalAmount != null">
        loan_total_amount,
      </if>
      <if test="overduePeriods != null">
        overdue_periods,
      </if>
      <if test="overdueAmount != null">
        overdue_amount,
      </if>
      <if test="debitAccountNum != null">
        debit_account_num,
      </if>
      <if test="debitTotalPosition != null">
        debit_total_position,
      </if>
      <if test="debitOverduePeriods != null">
        debit_overdue_periods,
      </if>
      <if test="debitOverdueAmount != null">
        debit_overdue_amount,
      </if>
      <if test="semiAccountNum != null">
        semi_account_num,
      </if>
      <if test="semiTotalPosition != null">
        semi_total_position,
      </if>
      <if test="semiOverdrawnAmount180 != null">
        semi_overdrawn_amount_180,
      </if>
      <if test="semiOverdrawnBalance != null">
        semi_overdrawn_balance,
      </if>
      <if test="housingFund != null and housingFund != ''">
        housing_fund,
      </if>
      <if test="creditReportRemark != null and creditReportRemark != ''">
        credit_report_remark,
      </if>
      <if test="creditApplyTime != null">
        credit_apply_time,
      </if>
      <if test="creditAuditTime != null">
        credit_audit_time,
      </if>
      <if test="ctime != null">
        ctime,
      </if>
      <if test="mtime != null">
        mtime,
      </if>
      <if test="remark != null and remark != ''">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="guaranteeId != null">
        #{guaranteeId,jdbcType=INTEGER},
      </if>
      <if test="guaranteeName != null and guaranteeName != ''">
        #{guaranteeName,jdbcType=VARCHAR},
      </if>
      <if test="guaranteeUserId != null">
        #{guaranteeUserId,jdbcType=BIGINT},
      </if>
      <if test="guaranteeUserName != null and guaranteeUserName != ''">
        #{guaranteeUserName,jdbcType=VARCHAR},
      </if>
      <if test="guaranteeUserPhone != null and guaranteeUserPhone != ''">
        #{guaranteeUserPhone,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null">
        #{bankId,jdbcType=INTEGER},
      </if>
      <if test="bankName != null and bankName != ''">
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankCode != null and bankCode != ''">
        #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null and name != ''">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null and sex != ''">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null and idcard != ''">
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="phone != null and phone != ''">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null and birthday != ''">
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="cardFrontimg != null and cardFrontimg != ''">
        #{cardFrontimg,jdbcType=VARCHAR},
      </if>
      <if test="cardOppositeimg != null and cardOppositeimg != ''">
        #{cardOppositeimg,jdbcType=VARCHAR},
      </if>
      <if test="requisitionSignImg != null and requisitionSignImg != ''">
        #{requisitionSignImg,jdbcType=VARCHAR},
      </if>
      <if test="originalImg != null and originalImg != ''">
        #{originalImg,jdbcType=VARCHAR},
      </if>
      <if test="creditStatus != null and creditStatus != ''">
        #{creditStatus,jdbcType=VARCHAR},
      </if>
      <if test="creditReportTime != null">
        #{creditReportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loanNum != null">
        #{loanNum,jdbcType=INTEGER},
      </if>
      <if test="loanTotalAmount != null">
        #{loanTotalAmount,jdbcType=DECIMAL},
      </if>
      <if test="overduePeriods != null">
        #{overduePeriods,jdbcType=INTEGER},
      </if>
      <if test="overdueAmount != null">
        #{overdueAmount,jdbcType=DECIMAL},
      </if>
      <if test="debitAccountNum != null">
        #{debitAccountNum,jdbcType=INTEGER},
      </if>
      <if test="debitTotalPosition != null">
        #{debitTotalPosition,jdbcType=DECIMAL},
      </if>
      <if test="debitOverduePeriods != null">
        #{debitOverduePeriods,jdbcType=INTEGER},
      </if>
      <if test="debitOverdueAmount != null">
        #{debitOverdueAmount,jdbcType=DECIMAL},
      </if>
      <if test="semiAccountNum != null">
        #{semiAccountNum,jdbcType=INTEGER},
      </if>
      <if test="semiTotalPosition != null">
        #{semiTotalPosition,jdbcType=DECIMAL},
      </if>
      <if test="semiOverdrawnAmount180 != null">
        #{semiOverdrawnAmount180,jdbcType=DECIMAL},
      </if>
      <if test="semiOverdrawnBalance != null">
        #{semiOverdrawnBalance,jdbcType=DECIMAL},
      </if>
      <if test="housingFund != null and housingFund != ''">
        #{housingFund,jdbcType=VARCHAR},
      </if>
      <if test="creditReportRemark != null and creditReportRemark != ''">
        #{creditReportRemark,jdbcType=VARCHAR},
      </if>
      <if test="creditApplyTime != null">
        #{creditApplyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creditAuditTime != null">
        #{creditAuditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ctime != null">
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="mtime != null">
        #{mtime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null and remark != ''">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yundian.fssapi.domain.FssCreditModel">
    update fss_credit
    <set>
      <if test="guaranteeId != null">
        guarantee_id = #{guaranteeId,jdbcType=INTEGER},
      </if>
      <if test="guaranteeName != null and guaranteeName != ''">
        guarantee_name = #{guaranteeName,jdbcType=VARCHAR},
      </if>
      <if test="guaranteeUserId != null">
        guarantee_user_id = #{guaranteeUserId,jdbcType=BIGINT},
      </if>
      <if test="guaranteeUserName != null and guaranteeUserName != ''">
        guarantee_user_name = #{guaranteeUserName,jdbcType=VARCHAR},
      </if>
      <if test="guaranteeUserPhone != null and guaranteeUserPhone != ''">
        guarantee_user_phone = #{guaranteeUserPhone,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null">
        bank_id = #{bankId,jdbcType=INTEGER},
      </if>
      <if test="bankName != null and bankName != ''">
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankCode != null and bankCode != ''">
        bank_code = #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null and name != ''">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null and sex != ''">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null and idcard != ''">
        idcard = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="phone != null and phone != ''">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null and birthday != ''">
        birthday = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="cardFrontimg != null and cardFrontimg != ''">
        card_frontimg = #{cardFrontimg,jdbcType=VARCHAR},
      </if>
      <if test="cardOppositeimg != null and cardOppositeimg != ''">
        card_oppositeimg = #{cardOppositeimg,jdbcType=VARCHAR},
      </if>
      <if test="requisitionSignImg != null and requisitionSignImg != ''">
        requisition_sign_img = #{requisitionSignImg,jdbcType=VARCHAR},
      </if>
      <if test="originalImg != null and originalImg != ''">
        original_img = #{originalImg,jdbcType=VARCHAR},
      </if>
      <if test="creditStatus != null and creditStatus != ''">
        credit_status = #{creditStatus,jdbcType=VARCHAR},
      </if>
      <if test="creditReportTime != null">
        credit_report_time = #{creditReportTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loanNum != null">
        loan_num = #{loanNum,jdbcType=INTEGER},
      </if>
      <if test="loanTotalAmount != null">
        loan_total_amount = #{loanTotalAmount,jdbcType=DECIMAL},
      </if>
      <if test="overduePeriods != null">
        overdue_periods = #{overduePeriods,jdbcType=INTEGER},
      </if>
      <if test="overdueAmount != null">
        overdue_amount = #{overdueAmount,jdbcType=DECIMAL},
      </if>
      <if test="debitAccountNum != null">
        debit_account_num = #{debitAccountNum,jdbcType=INTEGER},
      </if>
      <if test="debitTotalPosition != null">
        debit_total_position = #{debitTotalPosition,jdbcType=DECIMAL},
      </if>
      <if test="debitOverduePeriods != null">
        debit_overdue_periods = #{debitOverduePeriods,jdbcType=INTEGER},
      </if>
      <if test="debitOverdueAmount != null">
        debit_overdue_amount = #{debitOverdueAmount,jdbcType=DECIMAL},
      </if>
      <if test="semiAccountNum != null">
        semi_account_num = #{semiAccountNum,jdbcType=INTEGER},
      </if>
      <if test="semiTotalPosition != null">
        semi_total_position = #{semiTotalPosition,jdbcType=DECIMAL},
      </if>
      <if test="semiOverdrawnAmount180 != null">
        semi_overdrawn_amount_180 = #{semiOverdrawnAmount180,jdbcType=DECIMAL},
      </if>
      <if test="semiOverdrawnBalance != null">
        semi_overdrawn_balance = #{semiOverdrawnBalance,jdbcType=DECIMAL},
      </if>
      <if test="housingFund != null and housingFund != ''">
        housing_fund = #{housingFund,jdbcType=VARCHAR},
      </if>
      <if test="creditReportRemark != null and creditReportRemark != ''">
        credit_report_remark = #{creditReportRemark,jdbcType=VARCHAR},
      </if>
      <if test="creditApplyTime != null">
        credit_apply_time = #{creditApplyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creditAuditTime != null">
        credit_audit_time = #{creditAuditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ctime != null">
        ctime = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="mtime != null">
        mtime = #{mtime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null and remark != ''">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where credit_id = #{creditId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yundian.fssapi.domain.FssCreditModel">
    update fss_credit
    set guarantee_id = #{guaranteeId,jdbcType=INTEGER},
      guarantee_name = #{guaranteeName,jdbcType=VARCHAR},
      guarantee_user_id = #{guaranteeUserId,jdbcType=BIGINT},
      guarantee_user_name = #{guaranteeUserName,jdbcType=VARCHAR},
      guarantee_user_phone = #{guaranteeUserPhone,jdbcType=VARCHAR},
      bank_id = #{bankId,jdbcType=INTEGER},
      bank_name = #{bankName,jdbcType=VARCHAR},
      bank_code = #{bankCode,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      idcard = #{idcard,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=VARCHAR},
      card_frontimg = #{cardFrontimg,jdbcType=VARCHAR},
      card_oppositeimg = #{cardOppositeimg,jdbcType=VARCHAR},
      requisition_sign_img = #{requisitionSignImg,jdbcType=VARCHAR},
      original_img = #{originalImg,jdbcType=VARCHAR},
      credit_status = #{creditStatus,jdbcType=VARCHAR},
      credit_report_time = #{creditReportTime,jdbcType=TIMESTAMP},
      loan_num = #{loanNum,jdbcType=INTEGER},
      loan_total_amount = #{loanTotalAmount,jdbcType=DECIMAL},
      overdue_periods = #{overduePeriods,jdbcType=INTEGER},
      overdue_amount = #{overdueAmount,jdbcType=DECIMAL},
      debit_account_num = #{debitAccountNum,jdbcType=INTEGER},
      debit_total_position = #{debitTotalPosition,jdbcType=DECIMAL},
      debit_overdue_periods = #{debitOverduePeriods,jdbcType=INTEGER},
      debit_overdue_amount = #{debitOverdueAmount,jdbcType=DECIMAL},
      semi_account_num = #{semiAccountNum,jdbcType=INTEGER},
      semi_total_position = #{semiTotalPosition,jdbcType=DECIMAL},
      semi_overdrawn_amount_180 = #{semiOverdrawnAmount180,jdbcType=DECIMAL},
      semi_overdrawn_balance = #{semiOverdrawnBalance,jdbcType=DECIMAL},
      housing_fund = #{housingFund,jdbcType=VARCHAR},
      credit_report_remark = #{creditReportRemark,jdbcType=VARCHAR},
      credit_apply_time = #{creditApplyTime,jdbcType=TIMESTAMP},
      credit_audit_time = #{creditAuditTime,jdbcType=TIMESTAMP},
      ctime = #{ctime,jdbcType=TIMESTAMP},
      mtime = #{mtime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where credit_id = #{creditId,jdbcType=BIGINT}
  </update>
  
  <sql id="getPaginatorFssCreditWhere">
  
  	  <if test="guaranteeId != null">
       	and guarantee_id = #{guaranteeId,jdbcType=INTEGER}
      </if>
      <if test="guaranteeName != null and guaranteeName != ''">
        and guarantee_name like concat('%',#{guaranteeName},'%')
      </if>
      <if test="guaranteeUserId != null">
        and guarantee_user_id = #{guaranteeUserId,jdbcType=BIGINT}
      </if>
      <if test="guaranteeUserName != null and guaranteeUserName != ''">
        and guarantee_user_name like concat('%',#{guaranteeUserName},'%')
      </if>
      <if test="guaranteeUserPhone != null and guaranteeUserPhone != ''">
        and guarantee_user_phone like concat('%', #{guaranteeUserPhone},'%')
      </if>
      <if test="bankId != null">
        and bank_id = #{bankId,jdbcType=INTEGER}
      </if>
      
      <if test="name != null and name != ''">
        and name like concat('%', #{name},'%')
      </if>
      <if test="idcard != null and idcard != ''">
        and idcard like concat('%',#{idcard},'%')
      </if>
      <if test="phone != null and phone != ''">
        and phone like concat('%', #{phone},'%')
      </if>
    
      <if test="creditStatus != null and creditStatus != ''">
        and credit_status = #{creditStatus,jdbcType=VARCHAR}
      </if>
      <if test="creditReportTime != null">
        and credit_report_time = #{creditReportTime,jdbcType=TIMESTAMP}
      </if>
      <if test="creditApplyTimeStart != null and creditApplyTimeStart != ''">
			<![CDATA[
				and credit_apply_time>=DATE_FORMAT(#{creditApplyTimeStart},'%Y-%m-%d 00:00:00') 
			]]>
		</if>
		<if test="creditApplyTimeEnd != null and creditApplyTimeEnd != ''">
			<![CDATA[
				and credit_apply_time<=DATE_FORMAT(#{creditApplyTimeEnd},'%Y-%m-%d 23:59:59') 
			]]>
		</if>
      
  </sql>
  <select id="getPaginatorFssCredit" parameterType="map"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from fss_credit
		where 1=1
		<include refid="getPaginatorFssCreditWhere"/>
		order by credit_id desc
		limit #{_offset}, #{_limit}
	</select>
	
	<select id="getPaginatorFssCreditCount" parameterType="map"
		resultType="java.lang.Integer">
		select
		count(*)
		from fss_credit
		where 1=1
		<include refid="getPaginatorFssCreditWhere"/>
	</select>
	
	<select id="getCreditStatusStat" parameterType="java.util.Map" resultType="java.util.HashMap">
		SELECT credit_status as creditStatus , COUNT(*) creditCount FROM  fss_credit t 
		 WHERE t.guarantee_id=#{guaranteeId}
		 <if test="bankId != null">
			and bank_id =#{bankId}
		</if>
		  GROUP BY credit_status
	</select>
	
</mapper>