<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yundian.fss.dao.FssDealerModelMapper" >
  <resultMap id="BaseResultMap" type="com.yundian.fssapi.domain.FssDealerModel" >
    <id column="dealer_id" property="dealerId" jdbcType="BIGINT" />
    <result column="dealer_name" property="dealerName" jdbcType="VARCHAR" />
    <result column="dealer_code" property="dealerCode" jdbcType="VARCHAR" />
    <result column="contactor" property="contactor" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="businessentity" property="businessentity" jdbcType="VARCHAR" />
    <result column="organize_code" property="organizeCode" jdbcType="VARCHAR" />
    <result column="license_code" property="licenseCode" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="INTEGER" />
    <result column="city" property="city" jdbcType="INTEGER" />
    <result column="area" property="area" jdbcType="INTEGER" />
    <result column="province_name" property="provinceName" jdbcType="VARCHAR" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
    <result column="area_name" property="areaName" jdbcType="VARCHAR" />
    <result column="street" property="street" jdbcType="VARCHAR" />
    <result column="sale_tel" property="saleTel" jdbcType="VARCHAR" />
    <result column="after_sales_tel" property="afterSalesTel" jdbcType="VARCHAR" />
    <result column="bank_code" property="bankCode" jdbcType="VARCHAR" />
    <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
    <result column="bank_account_name" property="bankAccountName" jdbcType="VARCHAR" />
    <result column="bank_account" property="bankAccount" jdbcType="VARCHAR" />
    <result column="verify_status" property="verifyStatus" jdbcType="VARCHAR" />
    <result column="verify_time" property="verifyTime" jdbcType="TIMESTAMP" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
    <result column="mtime" property="mtime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    dealer_id, dealer_name, dealer_code, contactor, phone, businessentity, organize_code, 
    license_code, province, city, area, province_name, city_name, area_name, street, sale_tel,after_sales_tel,
    bank_code, bank_name, bank_account_name, bank_account, verify_status, verify_time, 
    ctime, mtime, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from fss_dealer
    where dealer_id = #{dealerId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from fss_dealer
    where dealer_id = #{dealerId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyProperty="dealerId" useGeneratedKeys="true" parameterType="com.yundian.fssapi.domain.FssDealerModel" >
    insert into fss_dealer (dealer_id, dealer_name, dealer_code, 
      contactor, phone, businessentity, 
      organize_code, license_code, province, 
      city, area, province_name, 
      city_name, area_name, street, sale_tel,after_sales_tel,
      bank_code, bank_name, bank_account_name, 
      bank_account, verify_status, verify_time, 
      ctime, mtime, remark
      )
    values (#{dealerId,jdbcType=BIGINT}, #{dealerName,jdbcType=VARCHAR}, #{dealerCode,jdbcType=VARCHAR}, 
      #{contactor,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{businessentity,jdbcType=VARCHAR}, 
      #{organizeCode,jdbcType=VARCHAR}, #{licenseCode,jdbcType=VARCHAR}, #{province,jdbcType=INTEGER}, 
      #{city,jdbcType=INTEGER}, #{area,jdbcType=INTEGER}, #{provinceName,jdbcType=VARCHAR}, 
      #{cityName,jdbcType=VARCHAR}, #{areaName,jdbcType=VARCHAR}, #{street,jdbcType=VARCHAR},  #{saleTel,jdbcType=VARCHAR},  #{afterSalesTel,jdbcType=VARCHAR},
      #{bankCode,jdbcType=VARCHAR}, #{bankName,jdbcType=VARCHAR}, #{bankAccountName,jdbcType=VARCHAR}, 
      #{bankAccount,jdbcType=VARCHAR}, #{verifyStatus,jdbcType=VARCHAR}, #{verifyTime,jdbcType=TIMESTAMP}, 
      #{ctime,jdbcType=TIMESTAMP}, #{mtime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yundian.fssapi.domain.FssDealerModel" >
    insert into fss_dealer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dealerId != null" >
        dealer_id,
      </if>
      <if test="dealerName != null" >
        dealer_name,
      </if>
      <if test="dealerCode != null" >
        dealer_code,
      </if>
      <if test="contactor != null" >
        contactor,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="businessentity != null" >
        businessentity,
      </if>
      <if test="organizeCode != null" >
        organize_code,
      </if>
      <if test="licenseCode != null" >
        license_code,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="provinceName != null" >
        province_name,
      </if>
      <if test="cityName != null" >
        city_name,
      </if>
      <if test="areaName != null" >
        area_name,
      </if>
      <if test="street != null" >
        street,
      </if>
      <if test="bankCode != null" >
        bank_code,
      </if>
      <if test="bankName != null" >
        bank_name,
      </if>
      <if test="bankAccountName != null" >
        bank_account_name,
      </if>
      <if test="bankAccount != null" >
        bank_account,
      </if>
      <if test="verifyStatus != null" >
        verify_status,
      </if>
      <if test="verifyTime != null" >
        verify_time,
      </if>
      <if test="ctime != null" >
        ctime,
      </if>
      <if test="mtime != null" >
        mtime,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dealerId != null" >
        #{dealerId,jdbcType=BIGINT},
      </if>
      <if test="dealerName != null" >
        #{dealerName,jdbcType=VARCHAR},
      </if>
      <if test="dealerCode != null" >
        #{dealerCode,jdbcType=VARCHAR},
      </if>
      <if test="contactor != null" >
        #{contactor,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="businessentity != null" >
        #{businessentity,jdbcType=VARCHAR},
      </if>
      <if test="organizeCode != null" >
        #{organizeCode,jdbcType=VARCHAR},
      </if>
      <if test="licenseCode != null" >
        #{licenseCode,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        #{city,jdbcType=INTEGER},
      </if>
      <if test="area != null" >
        #{area,jdbcType=INTEGER},
      </if>
      <if test="provinceName != null" >
        #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null" >
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="areaName != null" >
        #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="street != null" >
        #{street,jdbcType=VARCHAR},
      </if>
      <if test="bankCode != null" >
        #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankAccountName != null" >
        #{bankAccountName,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null" >
        #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="verifyStatus != null" >
        #{verifyStatus,jdbcType=VARCHAR},
      </if>
      <if test="verifyTime != null" >
        #{verifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="mtime != null" >
        #{mtime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yundian.fssapi.domain.FssDealerModel" >
    update fss_dealer
    <set >
      <if test="dealerName != null" >
        dealer_name = #{dealerName,jdbcType=VARCHAR},
      </if>
      <if test="dealerCode != null" >
        dealer_code = #{dealerCode,jdbcType=VARCHAR},
      </if>
      <if test="contactor != null" >
        contactor = #{contactor,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="businessentity != null" >
        businessentity = #{businessentity,jdbcType=VARCHAR},
      </if>
      <if test="organizeCode != null" >
        organize_code = #{organizeCode,jdbcType=VARCHAR},
      </if>
      <if test="licenseCode != null" >
        license_code = #{licenseCode,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=INTEGER},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=INTEGER},
      </if>
      <if test="provinceName != null" >
        province_name = #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null" >
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="areaName != null" >
        area_name = #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="street != null" >
        street = #{street,jdbcType=VARCHAR},
      </if>
      <if test="bankCode != null" >
        bank_code = #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankAccountName != null" >
        bank_account_name = #{bankAccountName,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null" >
        bank_account = #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="verifyStatus != null" >
        verify_status = #{verifyStatus,jdbcType=VARCHAR},
      </if>
      <if test="verifyTime != null" >
        verify_time = #{verifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ctime != null" >
        ctime = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="mtime != null" >
        mtime = #{mtime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="saleTel != null" >
        sale_tel = #{saleTel,jdbcType=VARCHAR},
      </if>
      <if test="afterSalesTel != null" >
        after_sales_tel = #{afterSalesTel,jdbcType=VARCHAR},
      </if>
    </set>
    where dealer_id = #{dealerId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yundian.fssapi.domain.FssDealerModel" >
    update fss_dealer
    set dealer_name = #{dealerName,jdbcType=VARCHAR},
      dealer_code = #{dealerCode,jdbcType=VARCHAR},
      contactor = #{contactor,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      businessentity = #{businessentity,jdbcType=VARCHAR},
      organize_code = #{organizeCode,jdbcType=VARCHAR},
      license_code = #{licenseCode,jdbcType=VARCHAR},
      province = #{province,jdbcType=INTEGER},
      city = #{city,jdbcType=INTEGER},
      area = #{area,jdbcType=INTEGER},
      province_name = #{provinceName,jdbcType=VARCHAR},
      city_name = #{cityName,jdbcType=VARCHAR},
      area_name = #{areaName,jdbcType=VARCHAR},
      street = #{street,jdbcType=VARCHAR},
      bank_code = #{bankCode,jdbcType=VARCHAR},
      bank_name = #{bankName,jdbcType=VARCHAR},
      bank_account_name = #{bankAccountName,jdbcType=VARCHAR},
      bank_account = #{bankAccount,jdbcType=VARCHAR},
      verify_status = #{verifyStatus,jdbcType=VARCHAR},
      verify_time = #{verifyTime,jdbcType=TIMESTAMP},
      ctime = #{ctime,jdbcType=TIMESTAMP},
      mtime = #{mtime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where dealer_id = #{dealerId,jdbcType=BIGINT}
  </update>

  <sql id="getFssDealerPagingWhere">

    <if test="dealerName != null and dealerName != ''">
      and dealer_name =#{dealerName}
    </if>

    <if test="provinceName != null and provinceName != ''">
      and province_name like concat('%',#{provinceName},'%')
    </if>

    <if test="city != null and city != ''">
      and city like concat('%',#{city},'%')
    </if>
  </sql>

  <select id="getFssDealerPaging" parameterType="map"
          resultMap="BaseResultMap">
    select * from fss_dealer
    where 1=1
    <include refid="getFssDealerPagingWhere"/>
    order by dealer_id desc
    limit #{_offset}, #{_limit}

  </select>
  <select id="getFssDealerPagingCount" resultType="java.lang.Integer" parameterType="map">
    select
    count(*)
    from fss_dealer
    where 1=1
    <include refid="getFssDealerPagingWhere"/>
  </select>



</mapper>