<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yundian.fss.dao.FssLoanDistributeModelMapper">
  <resultMap id="BaseResultMap" type="com.yundian.fssapi.domain.FssLoanDistributeModel">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="loan_id" jdbcType="BIGINT" property="loanId" />
    <result column="organization_id" jdbcType="INTEGER" property="organizationId" />
    <result column="guarantee_id" jdbcType="INTEGER" property="guaranteeId" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="mtime" jdbcType="TIMESTAMP" property="mtime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  
  <resultMap id="FssLoanDistributeQueryBaseResultMap" type="com.yundian.fssapi.domain.query.FssLoanDistributeQueryModel">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="loan_id" jdbcType="BIGINT" property="loanId" />
    <result column="organization_id" jdbcType="INTEGER" property="organizationId" />
    <result column="guarantee_id" jdbcType="INTEGER" property="guaranteeId" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="mtime" jdbcType="TIMESTAMP" property="mtime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
    <result column="guarantee_name" jdbcType="VARCHAR" property="guaranteeName" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, 
    loan_id, 
    organization_id, 
    guarantee_id, 
    ctime, 
    mtime, 
    remark
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fss_loan_distribute
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from fss_loan_distribute
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <insert id="insert" parameterType="com.yundian.fssapi.domain.FssLoanDistributeModel">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into fss_loan_distribute 
    (
    	loan_id, 
    	organization_id, 
    	guarantee_id, 
      	ctime, 
      	remark
     )
    values 
    (
    	#{loanId,jdbcType=BIGINT}, 
    	#{organizationId,jdbcType=INTEGER}, 
    	#{guaranteeId,jdbcType=INTEGER}, 
      	now(), 
      	#{remark,jdbcType=VARCHAR}
     )
  </insert>
 
  <update id="updateByPrimaryKey" parameterType="com.yundian.fssapi.domain.FssLoanDistributeModel">
    	update fss_loan_distribute
    	set loan_id = #{loanId,jdbcType=BIGINT},
      	organization_id = #{organizationId,jdbcType=INTEGER},
      	guarantee_id = #{guaranteeId,jdbcType=INTEGER},
      	mtime = now(),
      	remark = #{remark,jdbcType=VARCHAR}
   	 	where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="FssLoanDistributeQueryBaseResultMap" parameterType="long" resultMap="FssLoanDistributeQueryBaseResultMap">
      select 
	    t1.id, 
	    t1.loan_id, 
	    t1.organization_id, 
	    t1.guarantee_id, 
	    t1.ctime, 
	    t1.mtime, 
	    t1.remark,
	    t2.organization_name,
	    t3.guarantee_name
	    from fss_loan_distribute t1
	    left join fss_organization t2 on t1.organization_id=t2.organization_id
	    left join fss_guarantee t3 on t1.guarantee_id=t3.guarantee_id
	    where t1.loan_id=#{loanId}
  </select>
</mapper>