<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yundian.fss.dao.FssLoanRepaymentModelMapper" >
  <resultMap id="BaseResultMap" type="com.yundian.fssapi.domain.FssLoanRepaymentModel" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="loan_id" property="loanId" jdbcType="BIGINT" />
    <result column="repayment_plan_id" property="repaymentPlanId" jdbcType="BIGINT" />
    <result column="period" property="period" jdbcType="INTEGER" />
    <result column="pay_amount" property="payAmount" jdbcType="INTEGER" />
    <result column="pay_fee" property="payFee" jdbcType="INTEGER" />
    <result column="plan_amount" property="planAmount" jdbcType="INTEGER" />
    <result column="plan_captial_amount" property="planCaptialAmount" jdbcType="INTEGER" />
    <result column="plan_interest_amount" property="planInterestAmount" jdbcType="INTEGER" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="pay_date" property="payDate" jdbcType="VARCHAR" />
    <result column="pay_status" property="payStatus" jdbcType="VARCHAR" />
    <result column="overdue_days" property="overdueDays" jdbcType="INTEGER" />
    <result column="bank_code" property="bankCode" jdbcType="VARCHAR" />
    <result column="account_name" property="accountName" jdbcType="VARCHAR" />
    <result column="account_card" property="accountCard" jdbcType="VARCHAR" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
    <result column="mtime" property="mtime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, loan_id, repayment_plan_id, period, pay_amount, pay_fee, plan_amount, plan_captial_amount, 
    plan_interest_amount, pay_time, pay_date, pay_status, overdue_days, bank_code, account_name, 
    account_card, ctime, mtime, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from fss_loan_repayment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from fss_loan_repayment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yundian.fssapi.domain.FssLoanRepaymentModel" >
    insert into fss_loan_repayment (id, loan_id, repayment_plan_id, 
      period, pay_amount, pay_fee, 
      plan_amount, plan_captial_amount, plan_interest_amount, 
      pay_time, pay_date, pay_status, 
      overdue_days, bank_code, account_name, 
      account_card, ctime, mtime, 
      remark)
    values (#{id,jdbcType=BIGINT}, #{loanId,jdbcType=BIGINT}, #{repaymentPlanId,jdbcType=BIGINT}, 
      #{period,jdbcType=INTEGER}, #{payAmount,jdbcType=INTEGER}, #{payFee,jdbcType=INTEGER}, 
      #{planAmount,jdbcType=INTEGER}, #{planCaptialAmount,jdbcType=INTEGER}, #{planInterestAmount,jdbcType=INTEGER}, 
      #{payTime,jdbcType=TIMESTAMP}, #{payDate,jdbcType=VARCHAR}, #{payStatus,jdbcType=VARCHAR}, 
      #{overdueDays,jdbcType=INTEGER}, #{bankCode,jdbcType=VARCHAR}, #{accountName,jdbcType=VARCHAR}, 
      #{accountCard,jdbcType=VARCHAR}, #{ctime,jdbcType=TIMESTAMP}, #{mtime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yundian.fssapi.domain.FssLoanRepaymentModel" >
    insert into fss_loan_repayment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="loanId != null" >
        loan_id,
      </if>
      <if test="repaymentPlanId != null" >
        repayment_plan_id,
      </if>
      <if test="period != null" >
        period,
      </if>
      <if test="payAmount != null" >
        pay_amount,
      </if>
      <if test="payFee != null" >
        pay_fee,
      </if>
      <if test="planAmount != null" >
        plan_amount,
      </if>
      <if test="planCaptialAmount != null" >
        plan_captial_amount,
      </if>
      <if test="planInterestAmount != null" >
        plan_interest_amount,
      </if>
      <if test="payTime != null" >
        pay_time,
      </if>
      <if test="payDate != null" >
        pay_date,
      </if>
      <if test="payStatus != null" >
        pay_status,
      </if>
      <if test="overdueDays != null" >
        overdue_days,
      </if>
      <if test="bankCode != null" >
        bank_code,
      </if>
      <if test="accountName != null" >
        account_name,
      </if>
      <if test="accountCard != null" >
        account_card,
      </if>
      <if test="ctime != null" >
        ctime,
      </if>
      <if test="mtime != null" >
        mtime,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="loanId != null" >
        #{loanId,jdbcType=BIGINT},
      </if>
      <if test="repaymentPlanId != null" >
        #{repaymentPlanId,jdbcType=BIGINT},
      </if>
      <if test="period != null" >
        #{period,jdbcType=INTEGER},
      </if>
      <if test="payAmount != null" >
        #{payAmount,jdbcType=INTEGER},
      </if>
      <if test="payFee != null" >
        #{payFee,jdbcType=INTEGER},
      </if>
      <if test="planAmount != null" >
        #{planAmount,jdbcType=INTEGER},
      </if>
      <if test="planCaptialAmount != null" >
        #{planCaptialAmount,jdbcType=INTEGER},
      </if>
      <if test="planInterestAmount != null" >
        #{planInterestAmount,jdbcType=INTEGER},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payDate != null" >
        #{payDate,jdbcType=VARCHAR},
      </if>
      <if test="payStatus != null" >
        #{payStatus,jdbcType=VARCHAR},
      </if>
      <if test="overdueDays != null" >
        #{overdueDays,jdbcType=INTEGER},
      </if>
      <if test="bankCode != null" >
        #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null" >
        #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="accountCard != null" >
        #{accountCard,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="mtime != null" >
        #{mtime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yundian.fssapi.domain.FssLoanRepaymentModel" >
    update fss_loan_repayment
    <set >
      <if test="loanId != null" >
        loan_id = #{loanId,jdbcType=BIGINT},
      </if>
      <if test="repaymentPlanId != null" >
        repayment_plan_id = #{repaymentPlanId,jdbcType=BIGINT},
      </if>
      <if test="period != null" >
        period = #{period,jdbcType=INTEGER},
      </if>
      <if test="payAmount != null" >
        pay_amount = #{payAmount,jdbcType=INTEGER},
      </if>
      <if test="payFee != null" >
        pay_fee = #{payFee,jdbcType=INTEGER},
      </if>
      <if test="planAmount != null" >
        plan_amount = #{planAmount,jdbcType=INTEGER},
      </if>
      <if test="planCaptialAmount != null" >
        plan_captial_amount = #{planCaptialAmount,jdbcType=INTEGER},
      </if>
      <if test="planInterestAmount != null" >
        plan_interest_amount = #{planInterestAmount,jdbcType=INTEGER},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payDate != null" >
        pay_date = #{payDate,jdbcType=VARCHAR},
      </if>
      <if test="payStatus != null" >
        pay_status = #{payStatus,jdbcType=VARCHAR},
      </if>
      <if test="overdueDays != null" >
        overdue_days = #{overdueDays,jdbcType=INTEGER},
      </if>
      <if test="bankCode != null" >
        bank_code = #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null" >
        account_name = #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="accountCard != null" >
        account_card = #{accountCard,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        ctime = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="mtime != null" >
        mtime = #{mtime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yundian.fssapi.domain.FssLoanRepaymentModel" >
    update fss_loan_repayment
    set loan_id = #{loanId,jdbcType=BIGINT},
      repayment_plan_id = #{repaymentPlanId,jdbcType=BIGINT},
      period = #{period,jdbcType=INTEGER},
      pay_amount = #{payAmount,jdbcType=INTEGER},
      pay_fee = #{payFee,jdbcType=INTEGER},
      plan_amount = #{planAmount,jdbcType=INTEGER},
      plan_captial_amount = #{planCaptialAmount,jdbcType=INTEGER},
      plan_interest_amount = #{planInterestAmount,jdbcType=INTEGER},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      pay_date = #{payDate,jdbcType=VARCHAR},
      pay_status = #{payStatus,jdbcType=VARCHAR},
      overdue_days = #{overdueDays,jdbcType=INTEGER},
      bank_code = #{bankCode,jdbcType=VARCHAR},
      account_name = #{accountName,jdbcType=VARCHAR},
      account_card = #{accountCard,jdbcType=VARCHAR},
      ctime = #{ctime,jdbcType=TIMESTAMP},
      mtime = #{mtime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>