<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yundian.fss.dao.FssLoanAuditingLogModelMapper">
  <resultMap id="BaseResultMap" type="com.yundian.fssapi.domain.FssLoanAuditingLogModel">
    <id column="log_id" jdbcType="BIGINT" property="logId" />
    <result column="loan_id" jdbcType="BIGINT" property="loanId" />
    <result column="node" jdbcType="VARCHAR" property="node" />
    <result column="node_name" jdbcType="VARCHAR" property="nodeName" />
    <result column="organization_id" jdbcType="INTEGER" property="organizationId" />
    <result column="guarantee_id" jdbcType="INTEGER" property="guaranteeId" />
    <result column="orguser_id" jdbcType="INTEGER" property="orguserId" />
    <result column="orguser_name" jdbcType="VARCHAR" property="orguserName" />
    <result column="audit_status" jdbcType="VARCHAR" property="auditStatus" />
    <result column="audit_time" jdbcType="TIMESTAMP" property="auditTime" />
    <result column="audit_content" jdbcType="VARCHAR" property="auditContent" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="mtime" jdbcType="TIMESTAMP" property="mtime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  
  
  <resultMap id="FssLoanAuditingLogQueryBaseResultMap" type="com.yundian.fssapi.domain.query.FssLoanAuditingLogQueryModel">
    <id column="log_id" jdbcType="BIGINT" property="logId" />
    <result column="loan_id" jdbcType="BIGINT" property="loanId" />
    <result column="node" jdbcType="VARCHAR" property="node" />
    <result column="node_name" jdbcType="VARCHAR" property="nodeName" />
    <result column="organization_id" jdbcType="INTEGER" property="organizationId" />
    <result column="guarantee_id" jdbcType="INTEGER" property="guaranteeId" />
    <result column="orguser_id" jdbcType="INTEGER" property="orguserId" />
    <result column="orguser_name" jdbcType="VARCHAR" property="orguserName" />
    <result column="audit_status" jdbcType="VARCHAR" property="auditStatus" />
    <result column="audit_time" jdbcType="TIMESTAMP" property="auditTime" />
    <result column="audit_content" jdbcType="VARCHAR" property="auditContent" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="mtime" jdbcType="TIMESTAMP" property="mtime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
	
	<result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
    <result column="guarantee_name" jdbcType="VARCHAR" property="guaranteeName" />
    
  </resultMap>
  
  
  
  <sql id="Base_Column_List">
    log_id, 
    loan_id, 
    node, 
    node_name, 
    organization_id, 
    guarantee_id, 
    orguser_id, 
    orguser_name, 
    audit_status, 
    audit_time, 
    audit_content, 
    ctime, 
    mtime, 
    remark
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fss_loan_auditing_log
    where log_id = #{logId,jdbcType=BIGINT}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from fss_loan_auditing_log
    where log_id = #{logId,jdbcType=BIGINT}
  </delete>
  
  <insert id="insert" parameterType="com.yundian.fssapi.domain.FssLoanAuditingLogModel">
    <selectKey keyProperty="logId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    	insert into fss_loan_auditing_log 
    	(
	   		loan_id,
	   		node, 
	   		node_name, 
		    organization_id, 
		    guarantee_id, 
		    orguser_id, 
		    orguser_name, 
		    audit_status, 
		    audit_time, 
		    audit_content, 
		    ctime, 
		    remark
     	)
    	values 
    	(
    		#{loanId,jdbcType=BIGINT}, 
    		#{node,jdbcType=VARCHAR}, 
    		#{nodeName,jdbcType=VARCHAR}, 
      		#{organizationId,jdbcType=INTEGER}, 
      		#{guaranteeId,jdbcType=INTEGER}, 
      		#{orguserId,jdbcType=INTEGER}, 
	      	#{orguserName,jdbcType=VARCHAR}, 
	      	#{auditStatus,jdbcType=VARCHAR}, 
	      	now(), 
	      	#{auditContent,jdbcType=VARCHAR}, 
	     	now(), 
	      	#{remark,jdbcType=VARCHAR}
      )
  </insert>
  
 
  <update id="updateByPrimaryKey" parameterType="com.yundian.fssapi.domain.FssLoanAuditingLogModel">
    update fss_loan_auditing_log
    	set 
    	loan_id = #{loanId,jdbcType=BIGINT},
      	node = #{node,jdbcType=VARCHAR},
      	node_name = #{nodeName,jdbcType=VARCHAR},
      	organization_id = #{organizationId,jdbcType=INTEGER},
      	guarantee_id = #{guaranteeId,jdbcType=INTEGER},
      	orguser_id = #{orguserId,jdbcType=INTEGER},
      	orguser_name = #{orguserName,jdbcType=VARCHAR},
      	audit_status = #{auditStatus,jdbcType=VARCHAR},
      	audit_time = #{auditTime,jdbcType=TIMESTAMP},
      	audit_content = #{auditContent,jdbcType=VARCHAR},
      	mtime = now(),
      	remark = #{remark,jdbcType=VARCHAR}
    	where log_id = #{logId,jdbcType=BIGINT}
  </update>
  
  
  	<sql id="getFssLoanAuditingLogPagingWhere">
		<if test="loanId != null">
			and t1.loan_id =#{loanId}
		</if>
		<if test="organizationId != null">
			and t1.organization_id =#{organizationId}
		</if>
		<if test="guaranteeId != null">
			and t1.guarantee_id =#{guaranteeId}
		</if>
		<if test="node != null and node != ''">
			and t1.node= #{node}
		</if>
		<if test="orguserName != null and orguserName != ''">
			and t1.orguser_name =#{orguserName}
		</if>
		<if test="auditStatus != null and auditStatus != ''">
			and t1.audit_status =#{auditStatus}
		</if>
	</sql>
	
	<select id="getFssLoanAuditingLogPaging" parameterType="map"
		resultMap="FssLoanAuditingLogQueryBaseResultMap">
		select
		t1.log_id, 
	    t1.loan_id, 
	    t1.node, 
	    t1.node_name, 
	    t1.organization_id, 
	    t1.guarantee_id, 
	    t1.orguser_id, 
	    t1.orguser_name, 
	    t1.audit_status, 
	    t1.audit_time, 
	    t1.audit_content, 
	    t1.ctime, 
	    t1.mtime, 
	    t1.remark,
	    t2.organization_name,
	    t3.guarantee_name 
		from fss_loan_auditing_log t1
	    left join fss_organization t2 on t1.organization_id=t2.organization_id
	    left join fss_guarantee t3 on t1.guarantee_id=t3.guarantee_id
	    
		where 1=1
		<include refid="getFssLoanAuditingLogPagingWhere"/>
		limit #{_offset}, #{_limit}
	</select>
	
	<select id="getFssLoanAuditingLogPagingCount" parameterType="map"
		resultType="java.lang.Integer">
		select
		count(*)
		from fss_loan_auditing_log t1
	    left join fss_organization t2 on t1.organization_id=t2.organization_id
	    left join fss_guarantee t3 on t1.guarantee_id=t3.guarantee_id
		where 1=1
		<include refid="getFssLoanAuditingLogPagingWhere"/>
	</select>
	
	
	<select id="getFssLoanAuditingLogListByLoanId" parameterType="java.lang.Long"
		resultMap="FssLoanAuditingLogQueryBaseResultMap">
		    select 
  	 	t1.log_id, 
	    t1.loan_id, 
	    t1.node, 
	    t1.node_name, 
	    t1.organization_id, 
	    t1.guarantee_id, 
	    t1.orguser_id, 
	    t1.orguser_name, 
	    t1.audit_status, 
	    t1.audit_time, 
	    t1.audit_content, 
	    t1.ctime, 
	    t1.mtime, 
	    t1.remark,
	    t2.organization_name,
	    t3.guarantee_name 
	    from fss_loan_auditing_log t1
	    left join fss_organization t2 on t1.organization_id=t2.organization_id
	    left join fss_guarantee t3 on t1.guarantee_id=t3.guarantee_id
		where t1.loan_id=#{loanId}
	</select>


	<!--
	作者:季延彬
	业务描述:查询待办任务
	-->
	<select id="queryUnprocessedPagingResult" parameterType="com.yundian.fssapi.dto.MyTaskQueryCriterion"
			resultMap="FssLoanAuditingLogQueryBaseResultMap">
		select
		t1.log_id,
		t1.loan_id,
		t1.node,
		t1.node_name,
		t1.organization_id,
		t1.guarantee_id,
		t1.orguser_id,
		t1.orguser_name,
		t1.audit_status,
		t1.audit_time,
		t1.audit_content,
		t1.ctime,
		t1.mtime,
		t1.remark,
		t2.organization_name,
		t3.guarantee_name
		from fss_loan_auditing_log t1
		left join fss_organization t2 on t1.organization_id=t2.organization_id
		left join fss_loan t3 on t1.loan_id=t3.id
		left join fss_guarantee t4 ON t1.guarantee_id=t4.id
		where i=1
		and t1.organization_id is NULL
		and t2.orguser_id= #{operatorId} is NULL
		<if test="borrowerName != null and borrowerName != ''">
			and t3.name= #{borrowerName}
		</if>
		<if test="borrowerCardId != null and borrowerCardId != ''">
			and t3.idcard= #{borrowerCardId}
		</if>
		<if test="guaranteeCode != null">
			and t4.guarantee_code= #{guaranteeCode}
		</if>
		<if test="guaranteeName != null">
			and t4.guarantee_name like CONCAT(CONCAT('%', #{guaranteeName,jdbcType=VARCHAR}), '%')
		</if>
		<if test="guaranteeId != null">
			and t1.guarantee_id>= #{guaranteeId}
		</if>
		<if test="commitBeginDate != null and commitBeginDate != ''">
			and t1.ctime>= #{commitBeginDate}
		</if>
		<if test="commitEndDate != null and commitEndDate != ''">
			<![CDATA[
				and t1.ctime<= #{commitEndDate}
			]]>
		</if>
		limit #{page}, #{limit}
	</select>

	<!--
	作者:季延彬
	业务描述:查询待办任务总数
	-->
	<select id="queryUnprocessedPagingResultCount" parameterType="com.yundian.fssapi.dto.MyTaskQueryCriterion"
			resultMap="FssLoanAuditingLogQueryBaseResultMap">
		select
		count(1)
		from fss_loan_auditing_log t1
		left join fss_organization t2 on t1.organization_id=t2.organization_id
		left join fss_loan t3 on t1.loan_id=t3.id
		left join fss_guarantee t4 ON t1.guarantee_id=t4.id
		where i=1
		and t1.organization_id is NULL
		and t2.orguser_id= #{operatorId} is NULL
		<if test="borrowerName != null and borrowerName != ''">
			and t3.name= #{borrowerName}
		</if>
		<if test="borrowerCardId != null and borrowerCardId != ''">
			and t3.idcard= #{borrowerCardId}
		</if>
		<if test="guaranteeCode != null">
			and t4.guarantee_code= #{guaranteeCode}
		</if>
		<if test="guaranteeName != null">
			and t4.guarantee_name like CONCAT(CONCAT('%', #{guaranteeName,jdbcType=VARCHAR}), '%')
		</if>
		<if test="guaranteeId != null">
			and t1.guarantee_id>= #{guaranteeId}
		</if>
		<if test="commitBeginDate != null and commitBeginDate != ''">
			and t1.ctime>= #{commitBeginDate}
		</if>
		<if test="commitEndDate != null and commitEndDate != ''">
			<![CDATA[
				and t1.ctime<= #{commitEndDate}
			]]>
		</if>
	</select>

	<!--
	作者:季延彬
	业务描述:查询已办任务总数
	-->
	<select id="queryProcessedPagingResultCount" parameterType="com.yundian.fssapi.dto.MyTaskQueryCriterion"
			resultMap="FssLoanAuditingLogQueryBaseResultMap">
		select
		count(1)
		from fss_loan_auditing_log t1
		left join fss_organization t2 on t1.organization_id=t2.organization_id
		left join fss_loan t3 on t1.loan_id=t3.id
		left join fss_guarantee t4 ON t1.guarantee_id=t4.id
		where i=1
		and t1.organization_id=#{orgId}
		and t1.orguser_id= #{operatorId}
		<if test="borrowerName != null and borrowerName != ''">
			and t3.name= #{borrowerName}
		</if>
		<if test="borrowerCardId != null and borrowerCardId != ''">
			and t3.idcard= #{borrowerCardId}
		</if>
		<if test="guaranteeCode != null">
			and t4.guarantee_code= #{guaranteeCode}
		</if>
		<if test="guaranteeName != null">
			and t4.guarantee_name like CONCAT(CONCAT('%', #{guaranteeName,jdbcType=VARCHAR}), '%')
		</if>
		<if test="commitBeginDate != null and commitBeginDate != ''">
			and t1.ctime>= #{commitBeginDate}
		</if>
		<if test="commitEndDate != null and commitEndDate != ''">
			<![CDATA[
				and t1.ctime<= #{commitEndDate}
			]]>
		</if>
	</select>

	<!--
	作者:季延彬
	业务描述:查询已办任务
	-->
	<select id="queryProcessedPagingResult" parameterType="com.yundian.fssapi.dto.MyTaskQueryCriterion"
			resultMap="FssLoanAuditingLogQueryBaseResultMap">
		select
		t1.log_id,
		t1.loan_id,
		t1.node,
		t1.node_name,
		t1.organization_id,
		t1.guarantee_id,
		t1.orguser_id,
		t1.orguser_name,
		t1.audit_status,
		t1.audit_time,
		t1.audit_content,
		t1.ctime,
		t1.mtime,
		t1.remark,
		t2.organization_name,
		t3.guarantee_name
		from fss_loan_auditing_log t1
		left join fss_organization t2 on t1.organization_id=t2.organization_id
		left join fss_loan t3 on t1.loan_id=t3.id
		left join fss_guarantee t4 ON t1.guarantee_id=t4.id
		where i=1
		and t1.organization_id=#{orgId}
		and t1.orguser_id= #{operatorId}
		<if test="borrowerName != null and borrowerName != ''">
			and t3.name= #{borrowerName}
		</if>
		<if test="borrowerCardId != null and borrowerCardId != ''">
			and t3.idcard= #{borrowerCardId}
		</if>
		<if test="guaranteeCode != null">
			and t4.guarantee_code= #{guaranteeCode}
		</if>
		<if test="guaranteeName != null">
			and t4.guarantee_name like CONCAT(CONCAT('%', #{guaranteeName,jdbcType=VARCHAR}), '%')
		</if>
		<if test="commitBeginDate != null and commitBeginDate != ''">
			and t1.ctime>= #{commitBeginDate}
		</if>
		<if test="commitEndDate != null and commitEndDate != ''">
			<![CDATA[
				and t1.ctime<= #{commitEndDate}
			]]>
		</if>
		limit #{page}, #{limit}
	</select>
	
</mapper>