<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yundian.fss.dao.FssOrganizationModelMapper">
	<resultMap id="BaseResultMap"
		type="com.yundian.fssapi.domain.FssOrganizationModel">
		<id column="organization_id" jdbcType="INTEGER" property="organizationId" />
		<result column="organization_name" jdbcType="VARCHAR" property="organizationName" />
		<result column="province" jdbcType="INTEGER" property="province" />
		<result column="city" jdbcType="INTEGER" property="city" />
		<result column="area" jdbcType="INTEGER" property="area" />
		<result column="province_name" jdbcType="VARCHAR" property="provinceName" />
		<result column="city_name" jdbcType="VARCHAR" property="cityName" />
		<result column="area_name" jdbcType="VARCHAR" property="areaName" />
		<result column="street" jdbcType="VARCHAR" property="street" />
		<result column="phone" jdbcType="VARCHAR" property="phone" />
		<result column="contactor" jdbcType="VARCHAR" property="contactor" />
		<result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
		<result column="mtime" jdbcType="TIMESTAMP" property="mtime" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
	</resultMap>
	<sql id="Base_Column_List">
		organization_id, 
		organization_name, 
		province, 
		city, 
		area,
		province_name, 
		city_name, 
		area_name, 
		street, 
		phone,
		contactor,
		ctime, 
		mtime, 
		remark
	</sql>
	<select id="selectByPrimaryKey" parameterType="long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from fss_organization
		where organization_id = #{organizationId,jdbcType=INTEGER}
	</select>
	
	<select id="listAllOrganization" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from fss_organization
	</select>
	
	
	
	<delete id="deleteByPrimaryKey" parameterType="long">
		delete from fss_organization
		where organization_id = #{organizationId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.yundian.fssapi.domain.FssOrganizationModel">
		<selectKey keyProperty="organizationId" order="AFTER"
			resultType="long">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into fss_organization 
		(
			organization_name, 
			province, 
			city, 
			area,
			province_name, 
			city_name, 
			area_name, 
			street, 
			phone,
			contactor, 
			ctime, 
			remark
		)
		values
		(
			#{organizationName,jdbcType=VARCHAR}, 
			#{province,jdbcType=INTEGER},
			#{city,jdbcType=INTEGER},
			#{area,jdbcType=INTEGER},
			#{provinceName,jdbcType=VARCHAR}, 
			#{cityName,jdbcType=VARCHAR}, 
			#{areaName,jdbcType=VARCHAR}, 
			#{street,jdbcType=VARCHAR}, 
			#{phone,jdbcType=VARCHAR},
			#{contactor,jdbcType=VARCHAR}, 
			now(),
			#{remark,jdbcType=VARCHAR}
		)
	</insert>
	
	<update id="updateByPrimaryKey" parameterType="com.yundian.fssapi.domain.FssOrganizationModel">
		update fss_organization
		set organization_name = #{organizationName,jdbcType=VARCHAR},
		province = #{province,jdbcType=INTEGER},
		city = #{city,jdbcType=INTEGER},
		area = #{area,jdbcType=INTEGER},
		province_name = #{provinceName,jdbcType=VARCHAR},
		city_name = #{cityName,jdbcType=VARCHAR},
		area_name = #{areaName,jdbcType=VARCHAR},
		street = #{street,jdbcType=VARCHAR},
		phone = #{phone,jdbcType=VARCHAR},
		contactor = #{contactor,jdbcType=VARCHAR},
		mtime = now(),
		remark = #{remark,jdbcType=VARCHAR}
		where organization_id = #{organizationId,jdbcType=INTEGER}
	</update>

	<sql id="getFssOrganizationPagingDynamicWhere">
		<if test="organizationName != null and organizationName != ''">
			and organization_name  like concat('%',#{organizationName},'%')
		</if>
		<if test="contactor != null and contactor != ''">
			and contactor  like concat('%',#{contactor},'%')
		</if>
		
		<if test="province != null">
			and province = #{province}
		</if>
	</sql>
	<select id="getFssOrganizationPaging" parameterType="map"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from fss_organization
		where 1=1
		<include refid="getFssOrganizationPagingDynamicWhere"/>
		limit #{_offset}, #{_limit}
	</select>

	<select id="getFssOrganizationPagingCount" parameterType="map"
		resultType="java.lang.Integer">
		select
		count(*)
		from fss_organization
		where 1=1
		<include refid="getFssOrganizationPagingDynamicWhere"/>
	</select>
</mapper>