<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yundian.fss.dao.FssUserModelMapper">
  
  <resultMap id="BaseResultMap" type="com.yundian.fssapi.domain.FssUserModel">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_pwd" jdbcType="VARCHAR" property="userPwd" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="register_time" jdbcType="TIMESTAMP" property="registerTime" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="mtime" jdbcType="TIMESTAMP" property="mtime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  
   <resultMap id="FssUserQueryBaseResultMap" type="com.yundian.fssapi.domain.query.FssUserQueryModel">
    <!-- 用户部分 -->
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="register_time" jdbcType="TIMESTAMP" property="registerTime" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="mtime" jdbcType="TIMESTAMP" property="mtime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  	<!-- 机构部分  -->
	<result column="guarantee_id" jdbcType="INTEGER" property="guaranteeId" />
	<result column="guarantee_name" jdbcType="VARCHAR" property="guaranteeName" />
	<result column="guarantee_code" jdbcType="VARCHAR" property="guaranteeCode" />
	<result column="is_default_guarantee" jdbcType="VARCHAR" property="isDefaultGuarantee" />
 	<result column="role_id" jdbcType="VARCHAR" property="roleId" />
	<result column="station" jdbcType="VARCHAR" property="station" />
   	<result column="region" jdbcType="VARCHAR" property="region" />
 
  </resultMap>
  
  <sql id="Base_Column_List">
    user_id, 
    user_name, 
    user_pwd, 
    phone, 
    name, 
    sex, 
    register_time, 
    ctime, 
    mtime, 
    remark
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fss_user
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from fss_user
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  
  <insert id="insert" parameterType="com.yundian.fssapi.domain.FssUserModel">
    <selectKey keyProperty="userId" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into fss_user (
    	user_name, 
    	user_pwd, 
    	phone, 
      	name, 
      	sex, 
      	register_time, 
      	ctime,
      	remark
      )
    values 
    (
    	#{userName,jdbcType=VARCHAR}, 
    	#{userPwd,jdbcType=VARCHAR}, 
    	#{phone,jdbcType=VARCHAR}, 
      	#{name,jdbcType=VARCHAR}, 
      	#{sex,jdbcType=INTEGER}, 
      	#{registerTime,jdbcType=TIMESTAMP}, 
      	now(), 
      	#{remark,jdbcType=VARCHAR}
     )
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="com.yundian.fssapi.domain.FssUserModel">
    update fss_user
    set 
      phone = #{phone,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      mtime =now(),
      remark = #{remark,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  
  <update id="updateGuaranteeUserPwd" parameterType="com.yundian.fssapi.domain.FssUserModel">
    	update fss_user set 
      	user_pwd = #{userPwd,jdbcType=VARCHAR}, 
      	mtime =now()
   	 where user_id = #{userId,jdbcType=BIGINT}
  </update>
  
	<select id="getFssGuaranteeUserByUserNameAndPwd" parameterType="map"
		resultMap="BaseResultMap">
		select  
		<include refid="Base_Column_List" />
		from fss_user
		where user_name=concat('',#{userName},'')
		and user_pwd = concat('',#{userPwd},'')
	</select>
	
	<!-- 分页查询 start -->
	
	<sql id="getFssUserPagingDynamicWhere">
		<if test="guaranteeId != null">
			and t3.guarantee_id =#{guaranteeId}
		</if>
		<if test="userId != null">
			and t1.user_id =#{userId}
		</if>
		<if test="userName != null and userName != ''">
			and t1.user_name  like concat('%',#{userName},'%')
		</if>
		<if test="name != null and name != ''">
			and t1.name like concat('%',#{name},'%')
		</if>
		
		<if test="phone != null and phone != ''">
			and t1.phone  like concat('%',#{phone},'%')
		</if>
		
		<if test="roleId != null and roleId != ''">
			and t2.role_id  = #{roleId}
		</if>
		
		<if test="region != null and region != ''">
			and t2.region  like concat('%',#{region},'%')
		</if>
		
		
		<if test="station != null and station != ''">
			and t2.station  like concat('%',#{station},'%')
		</if>
		<if test="isDefaultGuarantee != null and isDefaultGuarantee != ''">
			and t2.is_default_guarantee =#{isDefaultGuarantee}
		</if>
		
	</sql>
	
	<select id="getFssUserPaging" parameterType="map" resultMap="FssUserQueryBaseResultMap">
		select
		t1.user_id, 
	    t1.user_name, 
	    t1.phone, 
	    t1.name, 
	    t1.sex, 
	    t1.register_time, 
	    t1.ctime, 
	    t1.mtime, 
	    t1.remark,
	    t2.role_id,
	    t2.station,
	    t2.region,
	    t2.is_default_guarantee,
		t3.guarantee_id,
	    t3.guarantee_name,
	    t3.guarantee_code
		from fss_user t1
		left join fss_guarantee_user t2 on t1.user_id=t2.user_id
		left join fss_guarantee t3 on t3.guarantee_id=t2.guarantee_id
		where 1=1
		<include refid="getFssUserPagingDynamicWhere"/>
		limit #{_offset}, #{_limit}
	</select>
  
  	<select id="getFssUserPagingCount" resultType="java.lang.Integer" parameterType="map">
		select
		count(*)
		from fss_user  t1
		left join fss_guarantee_user t2 on t1.user_id=t2.user_id
		left join fss_guarantee t3 on t3.guarantee_id=t2.guarantee_id
		where 1=1
		<include refid="getFssUserPagingDynamicWhere"/>
	</select>
	<!-- 分页查询 end -->
	
</mapper>