@CHARSET "UTF-8";

.page-content {
	/*上 右 下 左*/
	padding: 5px 20px 10px 5px !important;
}

.page-bar {
	margin-bottom: 2px !important;
}

.portlet {
	margin-bottom: 2px !important;
}
/* 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover,
	.page-sidebar {
	background-color: #3B3E4D !important;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a,
	.page-sidebar .page-sidebar-menu>li>a {
	border-top: 1px solid #3B3E4D !important;
	 color: #f2f4f6;
}

.page-sidebar .page-sidebar-menu>li.open>a {
	background: #2A2F3E !important;
	color: white;
}

.page-sidebar .page-sidebar-menu .sub-menu>li.active>a {
	background: #2A2F3E !important;
}
 */
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a,
	.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a,
	.page-sidebar .page-sidebar-menu>li.active>a, .page-sidebar .page-sidebar-menu>li.active.open>a
	{
	background: #2A2F3E !important;
	color: white;
}

.portlet.box.blue-madison>.portlet-title {
	background: #fff !important;
}

.portlet.box.blue-madison {
	border: 1px solid #ccc!important
/* 	border-top: 0;
 */}

/* 标题字体颜色 */
  .portlet.box.blue-madison>.portlet-title>.caption {
	color: #333!important
}

.portlet>.portlet-body.blue-madison, .portlet.blue-madison {
	background-color: #fff;
}

.portlet.box {
	padding: 0px !important;
	margin-bottom: 10px !important
}

/* 添加按钮 */
.btn-primary {
	color: #fff !important;
	background-color: #75c813 !important;
	border-color: #75c813 !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active,
	.btn-primary.active {
	color: #fff !important;
	background-color: #75c813 !important;
	border-color: #75c813 !important;
}

.btn-primary-c {
	color: #fff !important;
	background-color: #75c813 !important;
	border-color: #75c813 !important;
}

.btn-primary-c:hover, .btn-primary-c:focus, .btn-primary-c:active,
	.btn-primary-c.active {
	color: #fff !important;
	background-color: #75c813 !important;
	border-color: #75c813 !important;
}
.btn-blue-c {
	color: #fff !important;
	background-color: #2c98e9 !important;
	border-color: #2c98e9 !important;
}

.btn-blue-c:hover, .btn-primary:focus, .btn-primary:active,
	.btn-primary.active {
	color: #fff !important;
	background-color: #2c98e9 !important;
	border-color: #2c98e9 !important;
}

/* 表头下方线条  */
  .dataTables_scrollHead {
	border-bottom: 1px solid #ddd !important;
}

/* 滚动条边框去掉 */
.table-scrollable {
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	border: 0px solid #dddddd!important; 
	/* margin: 10px 0 !important; */
}

/* 背景灰色 */
  .page-container-bg-solid .page-content {
	background: #F8f8f8 !important;
}

/* 头部slogan */
.page-header.navbar .search-form .input-group .input-group-btn .btn.submit
	{
	margin-left: -24px;
	padding: 0;
	width: 68px;
	background: none !important;
	margin-top: 4px !important;
	display: block !important;
	font-size: 20px !important;
	color: #333 !important;
	font-family: 微软雅黑 !important;
	padding-left: 20px !important;
}

/* 左侧sidebar顶端颜色 */
.page-header.navbar .page-logo {
	background: #2a2b3d !important;
}

/* 全局字体样式 */
body {
	color: #333333;
	font-family: "Open Sans", sans-serif;
	padding: 0px !important;
	margin: 0px !important;
	font-size: 12px !important;
	direction: ltr;
	font-family: 微软雅黑 !important;
}
/* .portlet.box > .portlet-title > .caption
 *//* 列表标题字号 */
.portlet>.portlet-title>.caption {
	float: left;
	display: inline-block !important;
	font-size: 16px !important;
	line-height: 16px;
	padding: 10px 0 
}

.table-toolbar{
	margin-top: -53px !important;
}
.portlet .portlet-body .btn-group{
	top: 10px; float: right;
}